.pokemonlist-ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100vh;
  background-color: #c44a4a;
  border-right: 2px solid black;
}


 .pokemonlist-ctn .screen_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 70%;
    background-color: cornflowerblue;
    overflow-y: scroll;
    border-radius: 15px;
    padding: 20px 0px;
    border: 1px solid black;
  }
  .pokemonlist-ctn .screen_scroll span {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
  }
  .pokemonlist-ctn .screen_scroll img {
    width: 80%;
  }
  .pokemonlist-ctn .screen_scroll img:hover {
    background-color: rgb(67, 111, 192);
    border-radius: 50%;
  }

  .pokemon_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }