.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 302px);
  }


  .coverclap_open .coverclap_right{
    margin-left: 100%;
    transition: 0.8s ease-in-out;
  }

  .coverclap_ctn{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    
    display: flex;
  }

  .coverclap_left{
    width: 300px;
    height: 100vh;
    background-color: #EC1F25;
    border-right: 4px solid rgb(156, 151, 151);
    
  }
  .coverclap_right{
    width: calc(100vw - 300px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #F04B4B;
    background-image: url('/redplate.jpg');
    background-size: cover;
    margin-left: 0%; /* Le monter à 100 pour ouvrir le pokédex */
    
  }

  .coverclap_right button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: -50px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #3197CC 72.4%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 5px 0px #B7BABC;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .coverclap_right button:hover{
    border: 3px solid #FFFFFF;
  }

  .coverclap_right button:active{
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #02ff5b 72.4%);
    box-shadow: 0px 0px 0px #B7BABC;
  }

  .screen_control{
    width: 80%;
    background: #96BF91;
    padding: 100px 20px;
    border-radius: 10px;
    font-family: 'Handjet', cursive;
    font-size: 4rem;
    text-align: center;
    box-shadow: 2px 5px 0px 0px #293528;
    border: 3px solid grey;
  }
