.navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background: rgba(131, 5, 5, 0.245);
    width: 80%;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 90px;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: grey;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 5px #323031;
    border-radius: 40px;
}

.navbar a:hover {
    margin-top:5px;
    box-shadow: 0 0px #323031;
}

.navbar img {
    width: 48px;
}