.navbar {
    display: flex;
    gap: 1rem;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: grey;
    padding: 1.2rem;
}

.navbar img {
    width: 48px;
}