.pokemon_info_ctn {
    position: absolute;
    z-index: 1;
    display: block;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 38px;
    border: 2px solid rgba(216, 216, 216, 0.622);
    box-shadow: 8px 24px 75px 9px rgba(0, 0, 0, 0.63);
    background: #b49d9dab;
    overflow: hidden;
}

.pokemon_info_ctn {
    padding: 2rem 1.2rem;
}

.pokemon_info_ctn .title_ctn {
    color: #FFF;
    font-family: "Rubik";
    font-size: 2rem;
    padding-bottom: 1rem;
}

.pokemon_info_ctn .close_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: #C70202;
    padding: 1.5rem;
    width: 32px;
    height: 32px;
    border: none;
    font-family: "Rubik";
    color: black;
    font-weight: bold;
    position: absolute;
    top: 2rem;
    right: 2rem;
    box-shadow: 0px 1.25px 0px 0px #600405;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.pokemon_info_ctn .close_btn:hover {
    top: calc(2rem + 1.25px);
    background-color: #751111;
    color: white;
    box-shadow: 0px 0px 0px 0px;
}

.pokemon_info_stats {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 1.8rem;
}

.pokemon_info_stats li {
    width: 100%;
}

.stats_item{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    font-family: "Rubik";
}

.stats_item h3{
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    font-size: 1.2rem;
    gap: 1rem;
    padding: 0.3rem 1rem;
}

.stats_item h3 img{
    width: 38px;
}

.stats_bar{
    display: flex;
    width: 80%;
    height: 15px;
    background-color: rgba(223, 227, 223, 0.721);
    border-radius: 0px 24px 24px 0px;
    margin-left: 1rem;
}

.stats_bar .filled{
    background-color: green;
    border-radius: 0px 24px 24px 0px;
}


#pokemon_info_img{
    position: absolute;
    right: -10%;
    bottom: -20%;
    transform: scale(0.7);
    z-index: -1;
}

#pokemon_info_id{
    text-align: center;
    font-family: "Rubik";
    font-size: 317px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 5px #ffffff83;
    position: absolute;
    bottom: -7rem;
    z-index: -1;
}