.pokemons_item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5.981px;
    border: 0.498px solid rgba(255, 255, 255, 0.36);
    background: rgba(255, 255, 255, 0.49);
}

.pokemons_item img {
    width: 60%;
}

.pokemons_item span {
    font-family: 'Rubik', cursive;
    font-weight: 400;
    color: white;
}